<br><br>

<div class="container col-lg-8  ">

  <div class="card mx-auto" *ngIf="propiedad">
    <div class="card-header text-center">
      <h3>Detalle Propiedad {{propiedadId}}</h3>
    </div>
    <div class="card-body">

      <!--*******************CARROUSEL *************************-->
      <app-carousel [items]="propiedad.fotos">

      </app-carousel>
    </div>

    <!--*************************************************************-->


    <div class="card-group pt-1">

      <div class="card col-md-5">
        <div class="card-header">
          <h5 class="card-title text-light font-weight-light ">Detalles</h5>
        </div>

        <div class="card-body">

          <h5 class="card-title">Precio</h5>
          <p class="card-text">{{propiedad.precio|currency}}</p>

          <h5 class="card-title">Area(m2)</h5>
          <p class="card-text">{{propiedad.areaM2|number}} </p>

          <h5 class="card-title">Descripción</h5>
          <p class="card-text">{{propiedad.descripcion}}</p>

          <h5 class="card-title">Ciudad</h5>
          <p class="card-text">{{propiedad.ciudad}}</p>

          <h5 class="card-title">Publicado por:</h5>
          <p id="nombreUsuario" class="card-text">{{propiedad.userName}}</p>

          <h5 class="card-title">Fecha de publicación</h5>
          <p class="card-text">{{propiedad.postedOn|date}}</p>

          <button class="btn btn-success btn-lg"><i class="fas fa-phone mr-3"></i>{{propiedad.contacto }}</button>

        </div>
      </div>

      <div class="card col-md-7">

        <div class="card-header">
          <h5 class="card-title text-light font-weight-light ">Ubicación</h5>
        </div>

          <div class="card-body">
            <div id="map">
              <app-map-detalle [propiedad]="propiedad" style="width: 100%;" #map></app-map-detalle>
            </div>
          </div>

      </div>

    </div>

  </div>

  <div class="container mt-5 mx-auto">


    <button (click)="onSelectNext()" class="btn btn-block btn-primary btn-lg">SIGUIENTE</button>
    <br>
    <br><!--
    <button routerLink="/propiedad-detail/1" class="btn btn-primary">1</button>
    <button routerLink="/propiedad-detail/2" class="btn btn-primary">2</button>
    <button routerLink="/propiedad-detail/3" class="btn btn-primary">3</button>
    <button routerLink="/propiedad-detail/4" class="btn btn-primary">4</button>-->
  </div>
