
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="propiedad.imagenUrl" class="card-img-top" src="{{propiedad.imagenUrl}}" alt="">

        <img *ngIf="!propiedad.imagenUrl" class="card-img-top" src="../../../assets/casa.png" alt="">

        <ul *ngIf="!hiddeIcons" class="list-inline text-center member-icons animate">

          <li *ngIf="eyeIcon" class="list-inline-item ">
            <button class="btn btn-primary" routerLink="/propiedad-detail/{{propiedad.idPropiedad}}"><i class="fas fa-eye"></i></button>
          </li>
       <li *ngIf="editIcon" class="list-inline-item ">
        <button class="btn btn-primary" routerLink="/propiedad-detail/{{propiedad.idPropiedad}}"><i class="fas fa-edit"></i></button>
          </li>
        </ul>
      </div>

      <div class="card-body p-1">
        <h1 class="mb-0"> {{propiedad.nombre}}</h1>

        en {{propiedad.ciudad}}
        <span *ngIf="!propiedad.nombre">,
          {{propiedad.ciudad}}
        </span>

        <h6 class="mb-0">Precio: <span class="font-highlight">{{propiedad.precio}} USD.</span> |
          Area:  <span class="font-highlight">{{propiedad.areaM2}} m2 </span> </h6> <br>
          <h6 class="mb-0">Descripción:<span><br>
            {{propiedad.descripcion}}

          </span></h6>

      </div>
    </div>

