<div class="row ">
  <div class="col-6 m-auto">
    <div class="card  mt-5">
      <div class="card-header text-center">
        Registro
      </div>
      <div class="card-body">
        <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label class="form-label" for="form3Example1cg">Nombres Completos</label>
            <input type="text" id="form3Example1cg" class="form-control form-				control-lg"
              formControlName="userName" />
            <span *ngIf="!userName.valid &&
                  (userName.touched || userSubmitted)" class="error-block">
              Obligatorio: Ingrese nombre
            </span>
          </div>


          <div class="form-group col-12">
            <label class="form-label" for="form3Example3cg">Email</label>
            <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email" />
            <span *ngIf="!email.valid &&
                  email.touched" class="error-block">
              <span *ngIf="email.hasError('required')">
                Obligatorio: Ingrese email
              </span>
              <span *ngIf="email.hasError('email')">
                Ingrese un email válido
              </span>
            </span>

          </div>
          <div class="form-group col-12">
            <label class="form-label" for="form3Example4cg">Contraseña</label>
            <input type="password" id="form3Example4cg" class="form-control form-control-lg"
              formControlName="password" />
            <span *ngIf="!password.valid &&
                  password.touched" class="error-block">
              <span *ngIf="password.errors?.required">
                Obligatorio: Ingrese contraseña.
              </span>
              <span *ngIf="password.errors?.minlength">
                Contraseña debe contener minimo 8 caracteres.
              </span>
            </span>
          </div>
          <div class="form-group col-12">

            <label class="form-label" for="form3Example4cdg">Repetir Contraseña</label>

            <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
              formControlName="confirmPass" />


          </div>

          <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
            <label class="form-check-label" for="form2Example3g">
              I agree all statements in <a href="#!" class="text-body"><u>Términos de servicio</u></a>
            </label>
          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
              (click)="onSubmit()">Registrar</button>
          </div>

          <p class="text-center text-muted mt-5 mb-0">Ya tienes una cuenta? <a href="#!"
              class="fw-bold text-body"><u>Login</u></a></p>


          <div class="form-group col-12">


          </div>
        </form>
      </div>
    </div>
  </div>
</div>
