.photo-control{
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed blue;
  margin: 5px;
}

#map{
  position: relative;
  height: 400px;
  width: 100%;
  margin-bottom: 2%;
}