<div class="container">
  <div class="row " *ngIf="propiedad">
    <div class="col-lg-8 bg-white mt-5">
      <div class="card-header">
        <div class="card-title text-center text-light">
          <h3>Editar Propiedad</h3>
        </div>
      </div>
      <form [formGroup]="editPropiedadForm">
        <tabset class="member-tabset" #tipoTabs>
          <tab heading="Informacion Básica" id="tabBasicInfo" formGroupName="BasicInfo">
            <div class="container pt-4">

              <div class="col-lg-6 offset-lg-3">
                <div class="card text-center">
                  <div class="card-body">

                    <div class="form-group col-12">
                      <div btnRadioGroup formControlName="SellRent" required>

                        <label for="" class="btn btn-outline-primary mr-2" btnRadio="1" tabindex="0" role="button"
                          name="SellRent">Venta
                        </label>
                        <label for="" class="btn btn-outline-primary" btnRadio="2" tabindex="0" role="button"
                          name="SellRent">Arriendo
                        </label>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="">Tipo de Propiedad</label>
                      <input type="text" class="form-control" [value]="propiedad.pType" readonly>
                    <!--  <select class="form-control" formControlName="PType" >
                        <option selected >{{propiedad.pType}}</option>
                        <option *ngFor="let item of tipoPropiedades" [value]="item.id">
                          {{item.nombre}}
                        </option>
                      </select>-->
                    </div>
                    <div class="form-group">
                      <label for="">Contacto</label>
                      <input type="text" class="form-control" [value]="propiedad.contacto" formControlName="Name">
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </tab>
          <!--******************TAB PRECIO Y AREA**************-->
          <tab heading="Precio y Área" id="Precio y Área" formGroupName="PriceInfo">

            <div class="container pt-4">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="card text-center">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="">Precio</label>
                        <input type="number" class="form-control" [value]="propiedad.precio" formControlName="Price">
                      </div>
                      <div class="form-group">
                        <label for="">Area(m2)</label>
                        <input type="number" class="form-control" [value]="propiedad.areaM2"
                          formControlName="BuiltArea">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>

          <!--*************************DIRECCION-***********************-->
          <tab heading="Dirección" id="Dirección" formGroupName="AddressInfo">

            <div class="container pt-4">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="card text-center">
                    <div class="card-body">


                      <div class="form-group ">
                        <label for="">Ciudad</label>
                        <input type="text" readonly class="form-control" [value]="propiedad.ciudad">
                        <!--<select class="form-control" formControlName="City">
                          <option selected [value]="propiedad.cityId">{{propiedad.ciudad}}</option>
                          <option *ngFor="let item of ciudades" [value]="item.id">
                            {{item.nombre}}
                          </option>
                        </select>-->
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control" [value]="propiedad.direccion" formControlName="Address">

                      </div>
                      <!--*************************MAPA**************************-->


                      <!--********************************************************-->


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>

          <!--************************OTROS DETALLES************************-->
          <tab heading="Otros Detalles" id="Otros Detalles" formGroupName="OtherInfo">

          <!-- <div class="form-group col-12">
              <label>Años/Propiedad</label>
              <input type="number" class="form-control" formControlName="Años" [value]="propiedad.anios">
            </div>
            -->
            <div class="form-group col-12">
              <label>Descripción</label>
              <textarea type="text" class="form-control" rows="6" formControlName="Description"
                [value]="propiedad.descripcion"></textarea>
            </div>

          </tab>

          <!--*****************************FOTOS*****************************-->
          <tab heading="Fotos" id="Fotos">
            <div class="container">
              <label class="image-upload-container btn btn-bwm mt-5" id="fotosContainer" >
                <app-upload-form></app-upload-form>

              </label>


              <div class="table">
                <thead>

                </thead>
                    <tr *ngFor="let foto of propiedad.fotos">

                    <td> <img [src]="foto.imagenUrl" style="width: 150px;"></td>
                    <button [disabled]="foto.isPrimary" class="btn btn-danger btn-lg mt-2" (click)="deleteFoto(foto.id)">Eliminar</button>

                  </tr>
                </div>
                <div class="card-title">
                  <h4 class="text-center">Agregadas Recientes</h4>
                </div>
                <div class="card-group">

                  <div class="card" *ngFor="let foto of uploadPhotosService.fotosLista">
                    <img class="card-img-top" [src]="foto.url"  style="width: 150px;">
                    <div class="card-body">
                      <button class="btn btn-danger btn-lg mt-2" (click)="deleteFotoFirebase(foto)">Eliminar</button>
                    </div>
                  </div>
                </div>




              <div class="form-group col-12">
                <button [disabled]="editPropiedadForm.invalid" type="submit" (click)="onSubmit()"
                  class="btn btn-success mr-2">Guardar</button>
                <button type="reset" class="btn btn-danger mr-2">Cancelar</button>
              </div>

            </div>

          </tab>


        </tabset>

      </form>
    </div>
    <div class="col-lg-4 mt-5">
      <div class="card-header">
        <h3>Vista Previa</h3>
      </div>
      <div>
        <div class="shadow-lg p-3 bg-white">
          <app-propiedad-card [propiedad]="propiedad">
          </app-propiedad-card>
        </div>
      </div>
    </div>
  </div>
</div>
