<div class=" mt-5">
  <div class="row mb-5 " *ngIf="propiedad">
    <div class="card col-8 shadow-lg p-0 bg-white">
      <div class="card-header">
        <div class="card-title text-center text-light">
          <h3>Editar Propiedad</h3>
        </div>
      </div>
      <form [formGroup]="addPropiedadForm">
        <tabset class="member-tabset" #tipoTabs>
          <tab heading="Informacion Básica" id="tabBasicInfo" formGroupName="InformacionBase">
            <div class="container pt-4">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="card text-center">
                    <div class="card-body">
                      <div class="form-group">
                        <input type="text" class="form-control" readonly>
                      </div>
                      <div class="form-group">
                        <label for="">Tipo de Propiedad</label>
                        <select [(ngModel)]="propiedad.ciudad" name="" id="" formControlName="City" class="form-control" (change)="selectCiudadHandler($event)">
                         <option value="propiedad.ciudad"></option>
                          <option *ngFor="let item of ciudades" [value]="item.nombre">
                            {{item.nombre}}
  
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
          </tab>
          <!--******************TAB PRECIO Y AREA**************-->
          <tab heading="Precio y Área" id="Precio y Área">
  
            <div class="container pt-4">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="card text-center">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="">Precio</label>
                        <input type="number" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="">Area(m2)</label>
                        <input type="number" class="form-control">
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Dirección" id="Dirección">
  
            <div class="container pt-4">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="card text-center">
                    <div class="card-body">
                      <div class="form-group">
                        <app-map></app-map>
                      </div>
  
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
  
          </tab>
          <tab heading="Otros Detalles" id="Otros Detalles">
          </tab>
          <tab heading="Fotos" id="Fotos">
          </tab>
        </tabset>
  
      </form>
    </div>
    <div class="col-3">
          <div class="card-header">
            <h3>Vista Previa</h3>
          </div>
          <div>
            <div class="shadow-lg p-3 bg-white">
              <app-propiedad-card [propiedad]="propiedad">
              </app-propiedad-card>
            </div>
          </div>
    </div>
  </div>
</div>