<div class="container">
  <div class="row mt-5">
    <div class="col-lg-10 mx-auto">
<div class="card">
  <div class="card-title bg-success text-center">
    <h3 class="text-light">Datos Personales</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-5">
        <div class="form-group ">
          <label class="font-weight-bold">NOMBRE USUARIO: &nbsp;
            <label class="font-weight-light" >{{usuario.nombre}}</label> </label>
        </div>
        <div class="form-group ">
          <label class="font-weight-bold">CONTRASEÑA: &nbsp;
            <label class="font-weight-light" >{{passwd}}</label> </label>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group ">
          <label class="font-weight-bold">CORREO ELECTRONICO: &nbsp;
            <label class="font-weight-light" >{{usuario.email}}</label> </label>
        </div>
      </div>
    </div>



  </div>
</div>


    </div>
  </div>

</div>
