<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark bg-dark">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <b>
          <img src="../../assets/logo.png" width="50px" alt="logoRenacer"> </b>

       <span>

          <label class="navbar-brand text-light">Renacer</label>
        </span>
      </a>
    </div>

    <div class="navbar-collapse" >

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link active text-light" aria-current="page" routerLinkActive="active"
            routerLink="/">Home</a>
        </li>

        <li class="nav-item"> <a *ngIf="!usuario || usuario" class="nav-link text-light"
            [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/sell-propiedad">Comprar</a>
        </li>

        <li class="nav-item"> <a *ngIf="!usuario || usuario" class="nav-link text-light" routerLinkActive="active"
            routerLink="/rent-propiedad">Rentar</a> </li>



        <li class="nav-item"> <a *ngIf="usuario " class="nav-link text-light" routerLinkActive="active"
            routerLink="/add-propiedades">Propiedades</a> </li>
        <li class="nav-item"> <a *ngIf="!usuario" class="nav-link text-light" routerLinkActive="active"
            routerLink="/login">Login</a>
        </li>

        <li class="nav-item"> <a *ngIf="!usuario" class="nav-link text-light" routerLinkActive="active"
            routerLink="/register">Sing in</a>
        </li>



        <li class="nav-item hidden-sm-down"></li>
      </ul>

      <div *ngIf="usuario" class="btn-group clearfix" dropdown>
        <button id="button-basic " dropdownToggle type="button"
          class="btn btn-primary btn-bottom-right dropdown-toggle  " aria-controls="dropdown-basic"><i
            class="fas fa-circle" style="color: rgb(99, 226, 99);"></i>
          Bienvenid@ {{apiService.UsuarioData.nombre}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="/perfil/{{usuario.id}}"><i class="fas fa-user mr-3" ></i>Perfil</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/editar-perfil/{{usuario.id}}"><i class="fas fa-user-edit mr-3"></i>Editar Datos</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a (click)="onLogout()" class="dropdown-item" href="#"><i
                class="fas fa-sign-out-alt mr-3"></i>Salir</a>
          </li>
        </ul>
      </div>


    </div>
  </nav>
</header>


