<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top  ">
  <div class="container-fluid  ">
    <a class="navbar-brand text-light" href="/">Real Estate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav text-light mx-auto ">
        <a class="nav-link active text-light" aria-current="page" routerLinkActive="active" routerLink="/">Home</a>
        <a  *ngIf="usuario" class="nav-link text-light" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/sell-propiedad">Comprar</a>
        <a  *ngIf="usuario" class="nav-link text-light" routerLinkActive="active" routerLink="/rent-propiedad">Rentar</a>
        <a  *ngIf="usuario" class="nav-link text-light" routerLinkActive="active" routerLink="/add-propiedades">Propiedades</a>
        <a *ngIf="!usuario" class="nav-link text-light" routerLinkActive="active" routerLink="/login">Login</a>
        <a *ngIf="!usuario" class="nav-link text-light" routerLinkActive="active" routerLink="/register">Sing in</a>
       <!-- <a *ngIf="loggedin()" (click)="onLogout()" class="nav-link text-light" routerLinkActive="active" routerLink="/logout">Logout</a>-->
       <div *ngIf="usuario" class="btn-group "  dropdown  >
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle  "
                aria-controls="dropdown-basic">
          Bienvenido {{apiService.UsuarioData.nombre}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Perfil</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Editar Datos</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a (click)="onLogout()" class="dropdown-item" href="#">Salir</a>
          </li>
        </ul>
      </div>



      </div>
    </div>

    <div>

    </div>
  </div>
</nav>
